name: CI

on:
  push:
    branches:
      - main

  pull_request:
    branches:
      - main

jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Install pnpm
        uses: pnpm/action-setup@v2

      - name: Set node
        uses: actions/setup-node@v3
        with:
          node-version: 16.x
          cache: pnpm

      - name: Install
        run: pnpm install

      - name: Typecheck
        run: pnpm  typecheck

  # test:
  #   runs-on: ${{ matrix.os }}

  #   strategy:
  #     matrix:
  #       node: [12.x, 14.x, 16.x]
  #       os: [ubuntu-latest, windows-latest, macos-latest]
  #     fail-fast: false

  #   steps:
  #     - uses: actions/checkout@v3

  #     - name: Install pnpm
  #       uses: pnpm/action-setup@v2

  #     - name: Set node ${{ matrix.node }}
  #       uses: actions/setup-node@v3
  #       with:
  #         node-version: ${{ matrix.node }}
  #         cache: pnpm

  #     - name: Install
  #       run: pnpm install

  #     - name: Test
  #       run: pnpm test
